
// .tile{
//   position: relative;
//   text-align: center;
//   width: fit-content;
//   height: fit-content;
//   text-shadow: 1px 1px 1px #0f0f0f;
// }
.genre-index{
  background: #141414;
  width: 100%;
}
.genre-show{
  background: #141414;
  width: 100%;
}

// .genreItems{
// display: flex;
// flex-direction: column;
// position: relative;
// margin-left: 0px;
//   left: 5vw;
//   width: 80vw;
//   height: 15vw;
//   padding: 1vh 0;

// }
.genre-index-links{
  padding-bottom: 0;
}

.inner-row{
  // margin-top: -28vh;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 96vw;
  object-fit: contain;
  margin-left: 4vw;
  // padding-top: 10vh;
  border-bottom-width: 10vh;
}
.my-list-items{
  margin-top: -28vh;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 26vh;
  width: 80vw;
  object-fit: contain;
  left: 5vw;
  // padding-top: 10vh;
  border-bottom-width: 10vh;
  // overflow: hidden;


}

.vid{
  height: 90%;
  width: 20%;
  // transition: ease-in-out;

  transition: 0.3s ease-in-out;

}


.vid img{
  height: 100%;
}
// .row{
//   width: 100%;
//   height: 90%;
//   display: flex;
//   object-fit: cover;
//   align-items: center;
//   // overflow-x: scroll;
//   // width: 100%;
//   // overflow: hidden;
// }
.row:hover .tile {
  transform: translateX(-25%);
}
.tile:hover ~ .tile {
  transform: translateX(25%);
}

.row {
  display: flex;
  padding: 0 55px;
}

.tile {
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  z-index: 5;
}

.tile:hover {
  transform: scale(1.5) !important;
}
.genre-video-rows{
  width: 100%;
  height: 90%;
  display: flex;
  object-fit: cover;
  overflow-x: scroll;
  margin-left: -70px;
  margin-left: -5vw;
}
.vid{
  overflow: hidden;

}
.genre-content, .my-list-content{
  font-size: 1.4vw;
  line-height: 1.25vw;
  vertical-align: top;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding: 2vh;
  text-shadow: 1px 1px 1px #0f0f0f;

}
.genre-content{
  margin-left: 2vw;
}
.tile__img{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1%;
  object-fit: contain;
}

.play-button:hover h3{
color: black;
}
.play-button:hover{
  background: white;
  transform: scale(1.1);
  transition: 0.3s all ease;
}

.play-button{
  border: 1px solid transparent;
  background: rgba(0,0,0,.4);
  position: absolute;
    // font-size: 200%;
    color: white;
    font-weight: 500;
    top: 43.5%;
    
    left: 4%;
 
   padding: 1vh 4.3vh;
   font-size: 1.3vw;
   font-family: 'Rubik', sans-serif;
   border-radius: 2px;
}
.main-video-title{
  position: absolute;
    color: white;
    font-weight: 600;
    top: 18vh;
    text-shadow: 1px 1px 1px #0f0f0f;
    left: 4%;
  
   font-size: 5.3vw;
   width: 40vw;
  font-family: 'Rubik Mono One', cursive;
  //  border-radius: 2px;
   white-space: wrap;
}

.front-page-button{
  border: 1px solid transparent;
  background: rgba(0,0,0,.4);
  position: absolute;
    // font-size: 200%;
    color: white;
    font-weight: 500;
    top: 43.5%;
    
    left: 14%;
  
   padding: 1vh 4.3vh;
   font-size: 1.3vw;
   font-family: 'Rubik', sans-serif;
   border-radius: 2px;
   white-space: nowrap;
   display: flex;

}

.front-page-button:hover h3{
  color: black;
  }
.front-page-button:hover{
    background: white;
    transform: scale(1.1);
    transition: 0.3s all ease;
}
  
.home-page-volume-button{
  position: absolute;
    top: 8.4vw;
    right:9.5vw;
    color: white;
    background: rgba(0, 0, 0, 0.671);
    border: 2px solid grey;
    border-radius: 50%;
    font-size: 1.5vw;
}

.home-page-volume-button:hover{
  transform: scale(1.2);
  border-color: white;
  transition: 0.3s ease-in-out;
}
.main-video-rating{
  position: absolute;
    top: 8vw;
    right: 0%;
    color: white;
    background: rgba(0,0,0,.4);
    border-left: 5px solid white;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
    padding-left: 0.85vw;
    padding-right: 3.3vw;
    padding-top: 0.9vh;
    padding-bottom: 0.9vh;

}
.fa-check-text-link{
  position: absolute;
  white-space: nowrap;
  background-color: white;
  color: black;
  z-index: 5;
  border-radius: 2px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  right: 0;
  font-size: 0.8vw;
  padding: 0.3vw;
  // width: 5vw;
  top: 3vw;
  display: none;
}
.video-play-button{
  // padding-top: 10px;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  z-index: 2;
  color: white;
    background: rgba(0, 0, 0, 0.671);
    border: 2px solid grey;
    border-radius: 50%;
    font-size: 0.3vw;
    left: 1vw;
    top: 5vw;
    font-weight: lighter;
    // height: 1.5vw;
    // width: 2vw;
    color: red;
    padding: 0.3vw 0.4vw 0.3vw 0.4vw ;

}
.tile:hover .video-play-button{
  opacity: 1;
  // transition: 0.1s all ease;
}
.default-button:hover .fa-check-text-link{
  display: block;
}
.tile:hover .default-button, .tile:hover .like-button, .tile:hover .dislike-button, .tile:hover .dropdown-button{
  opacity: 1;
}

.default-button, .like-button, .dislike-button, .dropdown-button{
  opacity: 0;
  position: absolute;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0.671);
  font-weight: lighter;
  height: 1.5vw;
  width: 1.5vw;
}
.default-button, .like-button, .dislike-button{
  font-size: 0.3vw;
  right: 1vw;
  border: 2px solid grey;
  border-radius: 50%;
}

.default-button{
  top: 8vw;
}
.dislike-button{
  top: 6.4vw;
}
.like-button{
  top: 4.8vw;
}

.dislike{
  color: red;
  border-color: red;
}

.like{
  color: blue;
  border-color: blue;
}
.random{
  display: flex;
  justify-content: center;
  align-content: center;
}
.dropdown-button{
  justify-content: center;
  color:white;
  cursor: pointer;
  top: 9vw;
  font-size: 1.7vw;
  border: none;
  background: transparent;
}
.dropdown-button:hover{
  color: red;
  font-size: 2vw;

}
.bring-up-button{
  position: absolute;
  right: 2vw;
  top: 2vw;
  border: none;
  background: transparent;
  color: white;
  font-size: 2vw;
  
}
.tile:hover .video-title{
  opacity: 1;
}
.video-title{
  opacity: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 1px #0f0f0f;
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1.2vw;
  left: 0.5vw;
  top: 8vw;
  max-width: 15vw;
}

.home{
  width: 100%;
  height: 120%;
  position: relative;
  background: #141414;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1)));
}

.home-trailer{
  position: relative;
  overflow: auto;
  width: 100vw;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1)));
}

#hidden-video-show{
  z-index: 5;
  display: none;
  width: 100vw;
  height: 20vw;
  background: green;
  position: absolute;
  left: -5vw;
}

.no-list{
  position: relative;
  height: 75vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;

}

.no-list-text{
  height: 50%;
  position: relative;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  position: absolute;
  top: 50%;
}

#content {
  margin-top: 40px;
  height: 25vw;
  position: relative;
}

.background {
  display: flex;
  height: 100%;
  background-repeat: no-repeat;
}

.left {
  background: black;
  width: 30%;
  position: relative;
}

.left:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right,#000,transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.right {
  background: transparent;
  width: 70%;
}

.genre_content_header, .genre_content_text, .genre_content_year{
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
}
.genre_content_text{
  position: absolute;
  bottom: 0;
  font-size: 1.3vw;
}
.genre_content_header{

  font-size: 4vw;
}
.genre_content_year{
  font-size: 3vw;
}

.content-container {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px
}
