$duration: 450ms;
$tileWidth: 30vw;
$tileHeight: ($tileWidth / (16/9));
$iconSize: 50px;
$growFactor: 1.5; // 1.5 times the original size;

$moveLeft: -($tileWidth * ($growFactor - 1) / 2);
$moveRight: $tileWidth * ($growFactor - 1);

.row{
  overflow: scroll;
  width: 100%;
  display: flex;
}
.row__inner{
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  margin: ($tileHeight / 2) 0;
} 
.tile{
position: relative;
display: inline-block;
width: $tileWidth;
height: $tileHeight;
// margin-right: 10px;
// font-size: 20px;
cursor: pointer;
transition: $duration all;
// transform-origin: center left;
}
.tile__img{
  width: $tileWidth;
  height: $tileHeight;
  object-fit: cover;
}


.tile{
  position: relative;
  display: inline-block;
  width: $tileWidth;
//   height: $tileHeight;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
}
// .tile__img{
//   width: $tileWidth;
// //   height: $tileHeight;
//   object-fit: cover;
// }
// .tile__details{
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
//   font-size: 10px;
//   opacity: 0;
//   background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
//   transition: $duration opacity;

//   &:after
//   &:before{
//     content: '';
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     display: black;
//     }

//   &:after{
//     margin-top: (-($iconSize / 2));
//     margin-left: (-($iconSize / 2));
//     width: $iconSize;
//     height: $iconSize;
//     border: 3px solid #ecf0f1;
//     line-height: $iconSize;
//     text-align: center;
//     border-radius: 100%;
//     background: rgba(0,0,0,0.5);
//     z-index: 1;
//     }

//   &:before{
//     content: '▶';
//     left: 0;
//     width: 100%;
//     font-size: 30px;
//     margin-left: 7px;
//     margin-top: -18px;
//     text-align: center;
//     z-index: 2;
//     }

//   .tile:hover &{
//     opacity: 1;
//     transform: scale(1.5);
//     }
// }











//   .tile:hover ~ .tile{
//   transform: translate3d($moveRight, 0, 0);
// }
.row__inner:hover{
  transform: translate3d($moveLeft, 0, 0);
}
.tile__title{
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  &:hover{
    transform: scale($growFactor);
    opacity: 1;
    }
}
.videoIndexItem{
    position: relative;
      display: inline-block;
      width: $tileWidth;
      height: $tileHeight;
      margin-right: 10px;
      font-size: 20px;
      cursor: pointer;
      transition: $duration all;
      transform-origin: center left;
 }
 .tile:hover{
     transform: scale(1.5);
 }
 
 .genres-index{
     position: relative;
     height: 30px;
     width: 100%;
    /* padding: 10px; */
     top: 10%;
    /* background: #141414; */
    /* z-index: 1000000; */
    /* top: -60vh; */
 }
// .genreItems{
    /* z-index: 300; */
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: 100px;
    /* width: 100%; */
//     padding: 0 4%;
// }
 .genre-container{
    /* border: 1px solid grey;
    width: 100%; */
     overflow: scroll;
     width: 100%;
    
 }
// .video-container{
    /* z-index: 10000; */
    // display: flex;
    // flex-direction: row;
    // list-style-type: none;
    /* justify-content: space-around; */
//     width: 100%;
// }
// .genre-video-index{
//     width: 5vh;
//     height: 5vw;
// }
.genre-index-container{
    background: #141414;
}
.home{
    width: 100%;
    height: 100%;
    position: relative;
}
.home-trailer{
    position: relative;
    /* width: 100vw;
    height: 100vh; */
    /* width: 40%; */
    /* object-fit: contain; */
    overflow: auto;
    width: 100%;
    height: 70%;
    /* margin-bottom: -5%; */
    /* padding-bottom: 40%; */

}
.genre-container{
    height: 30vh;
}
.genre-container .genre-items{
    margin-left: 5vw;
}
// .genre-index-links{
//     padding-bottom: 0px;
// }
.tile__details {
    width: 10vw;
    height: 10vh;
}
.tile__details:hover{
    width: 20vw;
    height: 20vh;
}