.genre-index{
  color: white;
}

.genre-index{
  background: #141414;
  width: 100%;
}

.genre-show{
  background: #141414;
  width: 100%;
}

.genre-index-links{
  padding-bottom: 0;
}

.inner-row{
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 96vw;
  object-fit: contain;
  margin-left: 4vw;
  border-bottom-width: 10vh;
}

.my-list-items{
  margin-top: -28vh;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 26vh;
  width: 80vw;
  object-fit: contain;
  left: 5vw;
  border-bottom-width: 10vh;
}

.vid{
  height: 90%;
  width: 20%;
  transition: 0.3s ease-in-out;
}

.vid img{
  height: 100%;
}

.row:hover .tile {
  transform: translateX(-25%);
  border-color: white;
}

.row {
  display: flex;
  padding: 0 55px;
  overflow: hidden;
}

.tile {
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  z-index: 5;
}

.genre-video-rows{
  width: 100%;
  height: 90%;
  display: flex;
  object-fit: cover;
  overflow-x: scroll;
  margin-left: -70px;
  margin-left: -5vw;
}

.vid{
  overflow: hidden;
}

.genre-content, .my-list-content{
  font-size: 1.4vw;
  line-height: 1.25vw;
  vertical-align: top;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding: 2vh;
  text-shadow: 1px 1px 1px #0f0f0f;
}

.genre-content{
  margin-left: 2vw;
}

.tile__img{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1%;
  object-fit: contain;
}

.play-button:hover h3{
  color: black;
}

.play-button:hover{
  background: white;
  transform: scale(1.1);
  transition: 0.3s all ease;
}

.play-button, .play-button-genre-content{
  border: 1px solid transparent;
  background: rgba(0,0,0,.4);
  color: white;
  font-weight: 500;
  padding: 1vh 4.3vh;
  font-size: 1.3vw;
  font-family: 'Rubik', sans-serif;
  border-radius: 2px;
}

.content{
  position: absolute;
  z-index: 7;
}

.main-video-title{
  position: absolute;
  color: white;
  font-weight: 600;
  top: 25vh;
  text-shadow: 1px 1px 1px #0f0f0f;
  left: 4%;
  height: 20vw;
  width: 40vw;
  font-family: 'Rubik Mono One', cursive;
  white-space: wrap;
  font-size: 5.3vw;
}

.large-title{
  font-size: 3.5vw;
}

.small-title{
  font-size: 5.3vw;
}

.front-page-button{
  border: 1px solid transparent;
  background: rgba(0,0,0,.4);
  color: white;
  font-weight: 500;
  left: 20%;
  padding: 1vh 4.3vh;
  font-size: 1.3vw;
  font-family: 'Rubik', sans-serif;
  border-radius: 2px;
  white-space: nowrap;
  display: flex;
}

.front-page-button:hover h3{
  color: black;
}

.front-page-button:hover{
  background: white;
  transform: scale(1.1);
  transition: 0.3s all ease;
}
  
.home-page-volume-button{
  position: absolute;
  top: 8.4vw;
  right:9.5vw;
  color: white;
  background: rgba(0, 0, 0, 0.671);
  border: 2px solid grey;
  border-radius: 50%;
  font-size: 1.5vw;
}

.home-page-volume-button:hover{
  transform: scale(1.2);
  border-color: white;
  transition: 0.3s ease-in-out;
}

.main-video-rating{
  position: absolute;
  top: 8vw;
  right: 0%;
  color: white;
  background: rgba(0,0,0,.4);
  border-left: 5px solid white;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4vw;
  font-weight: 400;
  padding-left: 0.85vw;
  padding-right: 3.3vw;
  padding-top: 0.9vh;
  padding-bottom: 0.9vh;
}

.fa-check-text-link{
  position: absolute;
  white-space: nowrap;
  background-color: white;
  color: black;
  border-radius: 2px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  font-size: 0.8vw;
  padding: 0.3vw;
  bottom: -2vw;
  opacity: 0;
  z-index: 10 !important;
  right: -3vw;
}

.video-play-button{
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  color: red;
  border: none;
  left: 1vw;
  bottom: -5vw;
  z-index: 6;
  width: 2vw;
  opacity: 0;
}

.tile:hover .video-play-button{
  opacity: 1;
}

.tile:hover ~ .tile{
  z-index: 1;
}

.default-button:hover .fa-check-text-link{
  opacity: 1;
}

.default-button:hover{
  z-index: 10;
}

.tile:hover .default-button, .tile:hover .like-button, .tile:hover .dislike-button, .tile:hover .dropdown-button{
  opacity: 1;
}

.dropdown-button{
  position: absolute;
  top: 0vw;
  text-shadow: 1px 1px 1px #0f0f0f;
}

.default-button, .dropdown-button{
  opacity: 0;
  position: absolute;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0.671);
  font-weight: lighter;
  z-index: 10;
}

.like-button, .dislike-button{
  opacity: 0;
  position: absolute;
  z-index: 2;
  color: rgba(0, 0, 0, 0.911);
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  background: rgba(0, 0, 0, 0.671);
  border-color: white;
  font-weight: lighter;
  z-index: 10;
}

.default-button, .like-button, .dislike-button{
  font-size: 0.9vw;
  right: 1vw;
  border: 1px solid grey;
  border-radius: 50%;
  height: 2vw;
  width: 2vw;
  transition: 450ms all ease-in-out;
}

.default-button:hover, .like-button:hover, .dislike-button:hover{
  background: rgba(0, 0, 0, 0.856);
  border: 1px solid rgb(233, 233, 233);
  height: 2.2vw;
  width: 2.2vw;
  font-size: 1vw;
  transition: 200ms font-size height width ease-in-out;
}

.like, .dislike{
  transition: 450ms all ease-in-out;
  bottom: 4.5vw !important;
}

.default-button{
  bottom: 2vw;
}

.dislike-button{
  bottom: 4.5vw;
  transition: 450ms all ease-in-out;
}

.like-button{
  z-index: 6;
  bottom: 7vw;
  transition: 450ms all ease-in-out;
}

.dislike, .like{
  transition: 450ms all ease-in-out;
  color: white;
  border-color: white;
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.like-button:active{
  z-index: 6;
  transition: 450ms all ease-in-out;
}

.random{
  display: flex;
  justify-content: center;
  align-content: center;
}

.dropdown-button{
  justify-content: center;
  color:white;
  cursor: pointer;
  top: 9vw;
  font-size: 1.7vw;
  border: none;
  background: transparent;
}

.dropdown-button:hover{
  color: red;
  font-size: 2vw;
}

.bring-up-button{
  position: absolute;
  right: 2vw;
  top: 2vw;
  border: none;
  background: transparent;
  color: white;
  font-size: 2vw;
}

.tile:hover .video-title{
  opacity: 1;
}

.video-title{
  opacity: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 1px #0f0f0f;
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1.2vw;
  left: 0.5vw;
  top: 7vw;
  max-width: 15vw;
}

.home{
  width: 100%;
  height: 120%;
  position: relative;
  background: #141414;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1)));
}

.home-trailer{
  position: relative;
  overflow: auto;
  width: 100vw;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1)));
}

#hidden-video-show{
  z-index: 5;
  display: none;
  width: 100vw;
  height: 20vw;
  background: green;
  position: absolute;
  left: -5vw;
}

.no-list{
  position: relative;
  height: 75vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.no-list-text{
  height: 50%;
  position: relative;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  position: absolute;
  top: 50%;
}

#content {
  margin-top: 40px;
  height: 35vw;
  position: relative;
}

.background {
  display: flex;
  height: 100%;
  background-repeat: no-repeat;
}

.left {
  background: black;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.left:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right,#000,transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.right {
  width: 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

.genre_content_header, .genre_content_text, .genre_content_year{
  display: flex;
  font-family: 'Rubik', sans-serif;
  margin-left: 2vw;
}

.genre_content_text{
  font-size: 1.1em;
  color: #535353;
}

.genre_content_header{
  white-space: nowrap;
  font-size: 4em;
  z-index: 6;
}

.genre_content_year{
  font-size: 2em;
}

.content-container {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
}

.tile:hover ~ .slider{
  opacity: 1;
}

.slider_left, .slider_right{
  width: 3.75vw;
  opacity: 0;
  color: white;
  background: rgba(0, 0, 0, 0.219);
  font-size: 2.8vw;
  height: 10.5vw;
  position: absolute;
  z-index: 6;
  border: none;
  margin-top: 1.25vw;
  align-self: center;
}

.slider_left{
  left: 0;
}

.slider_right{
  right:0;
}

.slider_left:hover, .slider_right:hover{
  font-size: 3vw;
}

.row:hover .slider_left, .row:hover .slider_right{
  opacity: 1;
}

.play-button-genre-content {
  margin-left: 2vw;
  background: red;
  bottom: 2vw;
}

.play-button-genre-content:hover{
  transform: scale(1.1);
  transition: 0.3s all ease;
}

.genre-content-play-and-list {
  position: relative;
  display: flex;
}

.play-button{
  margin-right: 20px;
}