.nav-bar{
 height: 7vh;
 display: flex;
 align-items: center;
 justify-content: space-between;
 color: white;
 background: transparent;
 position: fixed;
  width: 100%;
  z-index: 10000;
  transition: 0.5s;

}
.scrolled{
  background-color: #141414;
  transition: 0.5s;
}

.primary-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: none;
    float: left;
}
.primary-nav > li {
    display: inline-block;
    vertical-align: middle;
}
.secondary-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: none;
    float: right;
    margin-right: 0;
}
.secondary-nav > li {
    display: inline-block;
    vertical-align: middle;
}
.left-nav-links {
    padding: 14px 16px;
}

 .nav-dropdown {
    position: relative;
    display: inline-block;
    width: 100px;
  } 
  
   .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.541);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 50px;
  }
  
  .nav-dropdown:hover .dropdown-content {
    display: block;
  }
  .nav-pic{
      display: flex;
        width: 30%;
      height: 30%; 
  } 
   .nav-logo{
    height: 100%;
}
.logo-3 {
    /* margin-right: 3px; */
     height: 1%;
     width: 70%;

     position: relative;
    padding-left: 0px;
 } 

 .left-nav{
    align-items: center;
    display: flex;
    padding-left: 0px;
 } 
 .nav-profile-list{
   display: flex;
   justify-content: space-between;
 }
 .nav-pic-list{
   display: flex;
   width:20%;
   height: 20%;
 }