.nav-bar{
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 10000;
  transition: 1s;
  font-family: 'Rubik', sans-serif;
  font-size: 1vw;
}

.scrolled{
  background-color: #141414;
  transition: 1s;
}

.index-profile{
  display: flex;
  flex-direction: row;
}

.index-profile:hover{
  cursor: pointer;
}

.fa-sort-down{
  font-size: 1vw;
}

.fa-sort-up{
  position: absolute;
  top: -0.7vw;
  right: 1vw;
  display: flex;
  justify-content: flex-end;
  font-size: 1vw;
  align-self: center;
  display: none;
}

.fa-search{
  font-size: 1vw;
}

.primary-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: none;
  float: left;
}
.primary-nav > li {
  display: inline-block;
  vertical-align: middle;
}
.secondary-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: none;
  float: right;
  margin-right: 0;
}
.secondary-nav > li {
  display: inline-block;
  vertical-align: middle;
}
.left-nav-links {
  padding: 14px 16px;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
  width: 100px;
} 
  
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0.3s, opacity 0.3s ease-out;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.89);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -10;
  width: 10vw;
  right: 3vw; 
  top: 3vw;
}

.nav-dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  opacity: 1;
  height: auto;
  z-index: 10;
}

.nav-dropdown:hover .Rand{
  display: block;
}

.nav-pic{
  width: 1.75vw; 
  height: 1.75vw;
  margin-right: 0.7vw;
} 

.nav-logo{
  height: 100%;
  padding: 0 4%;
}

.logo-3 {
  height: 1%;
  width: 70%;
  position: relative;
  padding-left: 0px;
  padding: 0 4%;
} 

.left-nav{
  align-items: center;
  display: flex;
  padding-left: 0px;
} 

.nav-col{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  padding: 0.60vw 0.5vw;
}

.nav-2-col{
  padding: 0.75vw 0.25vw;
}

.nav-profile-list{
  padding: 0.2vw 0;
}

.nav-profile-row{
  display: flex;
}

.nav-pic-list{
  font-size: 0.5vw;
  display: flex;
  width:20%;
  height: 20%;
}

.nav-profile-text{
  font-size: 0.65vw;
}

.nav-2-col > button{
  background: transparent;
  border: 1px solid transparent;
  color: white;
  font-size: 0.65vw;
  font-weight: 600;
}
.sign-out-button{
  background: transparent;
}
.manage-profile-link-nav{
  padding-top: 0.7vw;
  font-size: 0.65vw;
}