html{
   background: black;
}
.landmark{
   background-repeat: no-repeat;
   background-size:100% 100%;
   background:radial-gradient(rgba(14, 14, 14, 0.24), rgba(0, 0, 0, 0.925)), url(background.jpg);
   color: white;
   display: flex;
   flex-direction: column;
   font-size: 10px;
   width: 100%;
   height: 720px;
}
.landmark-body{
   position: absolute;
   top: -20px;
   bottom: 10px;
   width: 100%;
   font-size: 40px;
   height: 700px;
   display: flex;
   align-items: center;
   flex-direction: column;
   z-index: 10000;
   opacity: 1.0;
}
.landmark-button{
    transform: scale(1, 1.1);
    letter-spacing: 1px;
    position: absolute;
    top: 6.5%;
    right: 4.5%;
    background: rgb(221, 0, 0);
    border-radius: 4px;
    color: white; 
    padding: 0.6% 1.1%;
    border: 1 solid white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    width: 4.5%;
    align-items: center;
    display: inline;
}

.logo {
   position: absolute;
   top: -8%;
   right: 79%;
   border-radius: 5px;
   color: white; 
   padding: 8px 22px;
   text-align: right;
   display: inline-block;
   border: 1 solid white;



}

.demo-button{
letter-spacing: 7px;
   background: rgb(221, 0, 0);
   width: 100%;
   height: 50px;
   padding: 10px;
   color: white;
   border: 1px solid rgb(51, 51, 51);
   font-size: 17px;
   margin-top: 50px;
   border-radius: 5px;
   align-items: center;
   width: 320px;
   cursor: pointer;
   position: relative;
   top: 100px;
   width: 500px;
}
button:hover{
   cursor: pointer;
}

.demo-button:hover{
   background: red;
}
/* 
.landmark-text{
   position: absolute;

   top: 350px;
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
}
.landmark-text > p {
   align-content: center;
   text-align: center;

} */
.landmark-container{
   position: absolute;
   padding: 8px 22px;
   text-align: center;
   display: inline-block;
   border: 1 solid white;
   height: 60px;
   text-align: center;
   top: 125px;
   /* font-family:sans-serif; */
   font-size: 30px;
   /* font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    */
    font-family: arial, helvetica, sans-serif;
}
.landmark-container > p{
   font-size: 1.2vw;
   width: 1;
}

.landmark-tex-sub{
   width: 100%;
   font-size: 2.2vw;
   margin-bottom: 5px;
   padding: 5px;
   font-weight: lighter;
   position: relative;
   top: 120px;
}

.landmark-tex-main{
   font-size: 3.2vw;
   
}
.landmark-tex-main > h1{
   margin-bottom: 0px;
   /* font-size: 5.5vw; */
   width: 100%;
   font-size: 80px;
   position: relative;
   top: 100px;

}
h2{
   font-weight: lighter;
   font-size: 100%;
   padding-bottom: 30px;
}